:9090 {
    basicauth / gramilla F3g86yes10
    proxy / prometheus:9090 {
            transparent
        }

    errors stderr
    tls off
}

:3000 {
    proxy / grafana:3000 {
            transparent
            websocket
        }

    errors stderr
    tls off
}
